* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #1f1f1f;
  }
  /* Jumbotron */
  h1,
  p.lead {
    font-family: 'Poppins', sans-serif;
  }
  p#currentDay.lead {
    font-weight: bold;
  }
  .jumbotron {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #1f1f1f;
    border-radius: 0px;
  }
  .description,
  .row {
    white-space: pre-wrap;
  }
  
  /* Calendar */
  .textarea {
    background: transparent;
    resize: none;
    border-left: 1px dotted #1f1f1f;
    font-size: 22px;
  }